<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="padding-left:20%; padding-right:20%;">
<div class="d-flex justify-content-end" style="padding-top:1%;">
    {{#user}}
        <a href="/user/profile" class="btn btn-info secondary" role="button"  style="margin-left:1%">MYPAGE</a>
        <a href="/user/cart" class="btn btn-info secondary" role="button"  style="margin-left:1%">CART</a>
        <a href="/user/shop" class="btn btn-info secondary" role="button"  style="margin-left:1%">MYSHOP</a>
        <a href="/logout" class="btn btn-info active" role="button"  style="margin-left:1%">Logout</a>
        <div hidden>
            <input type="text" class="form-control" name="userName" id="userName" value="{{name}}">
            <input type="text" class="form-control" name="userEmail" id="userEmail" value="{{email}}">
        </div>
    {{/user}}
    {{^user}}
        <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button" style="margin-left:1%">
            Google Login
        </a>
        <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button" style="margin-left:1%">
            Naver Login
        </a>
    {{/user}}
</div>
<hr>

<nav class="navbar navbar-light bg-light">
    <a href="/" class="btn btn-info active" role="button">번개장터</a>
    <form class="form-inline" onsubmit="return false;">
        <input class="form-control mr-sm-2" style="width:500px" type="text" placeholder="Search" id="searchKeyword" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-2" type="submit" id="btn-search">Search</button>
    </form>
    <a href="/posts/save" class="btn btn-info active" role="button">판매하기</a>
</nav>
<hr>
</body>
