<div class="col-md-3" >
    <div class="btn-group-vertical">
        {{#userName}}
            <button type="button" class="btn btn-secondary">{{userName}}</button>

            <button type="button" class="btn btn-warning" disabled> 100000 point </button>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
            <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button">
                Google Login
            </a>
            <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">
                Naver Login
            </a>
        {{/userName}}
        <button type="button" class="btn btn-secondary" id="btn-list">구매</button>
        <button type="button" class="btn btn-secondary" id="btn-cell">판매</button>
    </div>
</div>