{{>layout/header}}

<!--
{{#posts}}
<div class="card" style="width:20%; display: inline-block; margin:1%">
    <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
    <div class="card-body" style="height:100px">
        <h5 class="card-title" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{title}}</h5>
        <p class="card-text">{{price}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
{{/posts}}
-->

{{>layout/footer}}