{{>layout/header}}


{{#posts}}
<div class="card" style="width:20%; display: inline-block; margin:1%">
    <a href="/posts/detail/{{id}}">
        <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
    </a>
    <div class="card-body" style="height:100px">
        <h5 class="card-title" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;"><a href="/posts/detail/{{id}}">{{title}}</a></h5>
        <p class="card-text">{{price}} 원</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{userName}}</small>
    </div>
</div>
{{/posts}}


{{>layout/footer}}