{{>layout/header}}
<div style="margin:30%">
<a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button" style="margin-left:1%">
    Google Login
</a>
<a href="/oauth2/authorization/naver" class="btn btn-success active" role="button" style="margin-left:1%">
    Naver Login
</a>
</div>
{{>layout/footer}}