{{>layout/header}}
<div class="row" style="margin-top:1%; margin-bottom:-1%">
    <div class="col-md-2">
        <h4> 기본 정보 </h4>
    </div>
    <div class="col-md-3">
        <p style="color:red;"> * 필수항목 </p>
    </div>
</div>
<hr>

<form id="frm-upload" enctype="multipart/form-data" class="needs-validation">
    <div style="float:left; height:350px; width:400px" >
        <div class="input-group-prepend">
            <label for="title"> 사진 </label>
            <p style="color:red; margin-left:2%"> * </p>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="imgFile" name="imgFile" aria-describedby="inputGroupFileAddon01" onchange="readURL(this);">
            <label class="custom-file-label" id="imgFileLabel" for="imgFile">Choose file</label>
            <img id="blah" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="your image" />
        </div>
    </div>
    <div style="float:left; width:50%; padding-left:5%">
        <div class="form-group">
            <div class="row">
                <label for="title"> 제목 </label>
                <p style="color:red; margin-left:2%"> * </p>
            </div>
            <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요" required>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="price"> 가격 </label>
                <p style="color:red; margin-left:2%"> * </p>
            </div>
            <input type="number" class="form-control" name="price" id="price" placeholder="금액을 입력하세요" min="1" required>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="content"> 내용 </label>
                <p style="color:red; margin-left:2%"> * </p>
            </div>
            <input type="text" class="form-control" name="content" id="content" placeholder="내용을 입력하세요" required>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="count"> 수량 </label>
                <p style="color:red; margin-left:2%"> * </p>
            </div>
            <input type="number" class="form-control" name="count" id="count" placeholder="수량을 입력하세요" min="1" value="1" required>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="effectiveDate"> 판매기한 </label>
                <p style="color:red; margin-left:2%"> * </p>
            </div>
            <input placeholder="판매시작날짜" class="form-control" type="text" onfocus="(this.type='date')" id="effectiveFromDate" name="effectiveFromDate" max="9999-12-31" required>

            ~
            <input placeholder="판매종료날짜" class="form-control" type="text" onfocus="(this.type='date')" id="effectiveToDate" name="effectiveToDate" max="9999-12-31" required>
        </div>
    </div>
</form>

<div style="clear:both; text-align:center">
    <hr>
    <a href="/" role="button" class="btn btn-secondary"> 취소 </a>
    <button type="button" class="btn btn-primary" id="btn-save" > 등록 </button>
</div>

{{>layout/footer}}

<script src="/js/app/validation.js"></script>