{{>layout/header}}
<div class="row">
    <div class="col-md-6">
        {{#post.isEffective}}
            <img class="card-img-top" src="{{post.imgFileUrl}}" alt="Card image cap" style="width:400px; height:400px;">
        {{/post.isEffective}}
        {{^post.isEffective}}
            <img class="card-img-top" src="../../img/ineffectivePost.jpeg" alt="Card image cap" style="width:400px; height:400px;">
        {{/post.isEffective}}
    </div>
    <div class="col-md-6">
        <div style="height:90%">
            {{#permitModify}}
            <div class="row" style="margin:0px">
                <h2 style="margin-bottom:3%"><b> {{post.title}} </b></h2>
                <button type="button" class="btn btn-outline-danger ml-auto" id="btn-delete" style="width:70px; margin-right:3%; height:10%"> 삭제 </button>
                <button type="button" class="btn btn-outline-success ml" onclick="location.href='/posts/update/{{post.id}}' " style="width:70px; height:10%"> 수정 </button>
            </div>
            {{/permitModify}}
            <h3> {{post.price}} 원</h3>
            <h5> 남은 수량 : {{post.count}} </h5>
            <hr>
            <h5> {{post.content}} </h5>

            <input style="margin-top:100px;" class="form-control" type="date" id="effectiveFromDate" name="effectiveFromDate" value="{{post.effectiveFromDate}}" readonly >
            ~
            <input style="margin-bottom:15px;" class="form-control" type="date" id="effectiveToDate" name="effectiveToDate" value="{{post.effectiveToDate}}" readonly>
        </div>
        <div class="d-flex justify-content-end" style="height:10%">
            <label style="margin-right:2%;">수량</label>
            <input type="number" class="form-control" id="count" style="width:100px" value="1">
        </div>

    </div>

</div>
<!-- 장바구니 및 구매 입력 값 -->
<div hidden>
    <input type="text" class="form-control" id="itemId" value="{{post.id}}">
    <input type="text" class="form-control" id="title" value="{{post.title}}">
    <input type="text" class="form-control" id="price" value="{{post.price}}">
    <input type="text" class="form-control" id="count" value="{{post.count}}">
    <input type="text" class="form-control" id="sellerName" value="{{post.userName}}">
    <input type="text" class="form-control" id="sellerEmail" value="{{post.userEmail}}">
</div>
<!-------------------------------------------------------------------------------------------->
<hr>
{{#post.isEffective}}
<div class="d-flex justify-content-end">

    <button type = "button" class="btn btn-outline-danger" id="btn-addCart" style="width:100px; margin-right:2%"> 장바구니 </button>

    <button type = "button" class="btn btn-outline-success" id="btn-order" style="width:100px"> 구매하기 </button>

</div>
{{/post.isEffective}}
<form hidden>
    <div class="form-group">
        <label for="title"> 글 번호 </label>
        <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
    </div>
</form>

<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC81MTU4OC8yODA2OQ==">
    <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
    <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->

{{>layout/footer}}